{
  "printWidth": 120,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "jsxSingleQuote": false,
  "trailingComma": "es5",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "always",
  "endOfLine": "lf",
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "^react$",
    "<THIRD_PARTY_MODULES>",
    "^@/app/(.*)$",
    "^@/assets/(.*)$",
    "^@/components/(.*)$",
    "^@/config/(.*)$",
    "^@/constants/(.*)$",
    "^@/contexts/(.*)$",
    "^@/features/(.*)$",
    "^@/hooks/(.*)$",
    "^@/services/(.*)$",
    "^@/types/(.*)$",
    "^@/utils/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
